@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');

:root {
    --font-title: 'Roboto Condensed', sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: aliceblue;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: black;

}


.title{
    color: white;
text-align: center;
}


header {
    width: 100%;
    height: 100vh;
    /* background-color: BLACK; */
    /* background-image: url(https://images.unsplash.com/photo-1495420378468-78588a508652?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
    color: aliceblue;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 1.6); Cambia el último valor (0.6) para ajustar la opacidad */

}

#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    height: 125px;
    margin-left: 20px;
}

.bar-btn {
    font-size: 25px;
    color: aliceblue;
    margin-right: 20px;
    cursor: pointer;
}

.nav-menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: black;
    text-align: center;
    transition: all .5%;
}

.nav-menu li {
    display: none;
    /*none para ocultarlo*/
    line-height: 30px;
    margin: 50px 0;
    transition: all .5%;
}

.nav-menu li a {
    color: aliceblue;
    font-size: 16px;
    font-weight: 600;
}

.nav-menu li a.active,
.nav-menu li a:hover {
    color: goldenrod;
    transition: .3%;
}

#check {
    display: none;
}

#check:checked~.nav-menu {
    height: 100vh;
}

#check:checked~.nav-menu li {
    display: block;
}

.banner-text {
    padding-top: 90px;

    text-align: center;


}

.title_text {
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 55px;
    text-align: center;
}

.banner-text span {
    color: goldenrod;
}

.banner-text h2 {
    font-size: 16px;

    font-weight: 600;
}

.buttons_header {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.button1 {
    padding: 10px 18px;
    background-color: goldenrod;
    color: black;
    border-radius: 5px;
}

.button1:hover {
    background-color: black;
    color: goldenrod;
    transition: .5s;
}


.button2 {
    padding: 10px 18px;
    background-color: white;
    color: black;
    border-radius: 5px;

}

.button2:hover {
    background-color: goldenrod;
    color: black;
    transition: .5s;
}

/*quienes somos*/
article p {
    padding: 1% 7%;
}

.quienes_somos {
    display: none;
}

.remove_quienes_somos {
    background-color: brown;
    display: none;
}

/* Cards Style */
.section-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 4.7%;


    gap: 10px;
    background-color: black;
    padding-top: 2rem;

}

.section-main_cards {
    display: flex;
    flex-direction: column;
    margin: 0 1rem 0 1rem;
    width: 125px;
}

.section--main_cards_image img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 10px 10px 10px 10px;

    cursor: pointer;
    transition: 0.5s;
}

.section--main_cards_image img:hover {
    opacity: 0.5;
    transition: 0.5s;
}

.section--main_cards_title {
    font-size: 12px;
    font-weight: 700;
    font-family: var(--font-montserrat);
    align-self: center;
    color: goldenrod;
}

.section--main_cards_description {
    font-size: 7px;
    padding-top: 5px;
    color: rgb(255, 255, 255);

}

.section--main_cards_price {
    font-size: 14px;
    /* Establece el tamaño del precio según tus preferencias */
    color: white;
    /* Establece el color del precio según tus preferencias */
    margin-top: 5px;
    /* Añade un margen superior al precio para separarlo del contenido anterior */
}

/*responsive*/

footer {
    display: flex;
    justify-content: center;
}

.icon_footer img {
    margin-right: 10px;
    width: 135px;
    height: 135px;
    object-fit: cover;
}

.info_footer {
    display: inherit;
    flex-direction: column;
    justify-content: space-around;
    color: goldenrod !important;
    text-decoration: none !important;
}

.info_footer span a {
    color: goldenrod !important;
    text-decoration: none !important;

}

.footer_paragraph {
    color: white;
    font-size: 15px;
}

.info_footer span {
    cursor: pointer;
}

/* Estilos para la línea horizontal */
hr {
    border: none;
    border-top: 1px solid white;
    /* Establecer el color de la línea en blanco */
    margin: 40px 0;
    /* Espacio antes y después de la línea */
}


.menu-fijo {
    position: fixed;
    z-index: 5;
    top: 0;
    background-color: black;
    color: yellow;
}


article[id] {

    scroll-margin-top: 380px;
    scroll-margin-bottom: 50px;
}

section[id] {
    scroll-margin-top: 205px;
    scroll-margin-bottom: 50px;
}

/*cambio de imagen benner*/
.img-licor {
    background-image: url(/image/licor/wisky/buchanans.jpg);
    background-repeat: no-repeat;

    background-size: cover;

    background-position: center;
}

#uno {
    display: none;
    background-color: blue;
}

.img-vino {
    background-image: url(/image/vino/vino.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 650px;
    background-position: center;
}

.img-cerveza {
    background-image: url(/image/cerveza/cerveza.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 650px;
    background-position: center;
}

.img-bebidas-sin-alcohol {
    background-image: url(/image/bebdidas_sin_alcohol/cocacola.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 650px;
    background-position: center;
}

.img-vaporizadores {
    background-image: url(/image/vapes/VAPES.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 650px;
    background-position: center;
}

.img-confiteria {
    background-image: url(/image/confiteria/confiteria.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 650px;
    background-position: center;
}

#buscador {
    text-align: center;
    margin-right: 2%;
    color: black;

}

#buscador input {
    color: black;
   
}

#searchInput {
  width: 50%;
}
#buscador p{
    color: white;
}
@media (min-width:375px) and (max-width:449px) {



    .section-main {
        margin-left: 0%;
        text-align: center;
        grid-template-columns: repeat(1, 0.1fr);
    }

    .section--main_cards_image img {
        width: 350px;
        height: 350px;

        transition: 0.5s;
    }

    .section--main_cards_title {
        font-size: 1.3rem;
        font-weight: 700;
        font-family: var(--font-montserrat);
        align-self: center;
        color: rgb(240, 239, 238);
    }

}


@media (min-width:450px) and (max-width:639px) {


    .section-main {
        margin: 0%;
        text-align: center;
        grid-template-columns: repeat(2, 0.5fr);
    }

    .section--main_cards_image img {
        width: 200px;
        height: 200px;

        transition: 0.5s;
    }

    .section--main_cards_title {
        font-size: 1.3rem;
        font-weight: 700;
        font-family: var(--font-montserrat);
        align-self: center;
        color: goldenrod;
    }
}

@media (min-width:640px) and (max-width:884px) {


    .section-main {
        margin: 2%;
        text-align: center;
        grid-template-columns: repeat(2, 0.5fr);
    }

    .section--main_cards_image img {
        width: 300px;
        height: 300px;

        transition: 0.5s;
    }

    .section--main_cards_title {
        font-size: 1.3rem;
        font-weight: 700;
        font-family: var(--font-montserrat);
        align-self: center;
        color: goldenrod;
    }
}

@media (min-width:885px) and (max-width:1079px) {



    .section-main {
        margin: 15%;
        text-align: center;
        grid-template-columns: repeat(2, 0.5fr);
    }

    .section--main_cards_image img {
        width: 300px;
        height: 300px;

        transition: 0.5s;
    }

    .section--main_cards_title {
        font-size: 1.3rem;
        font-weight: 700;
        font-family: var(--font-montserrat);
        align-self: center;
        color: goldenrod;
    }
}

@media (min-width:1080px) and (max-width:1169px) {



    .section-main {
        text-align: center;
        grid-template-columns: repeat(3, 0.3fr);
    }

    .section--main_cards_image img {
        width: 300px;
        height: 300px;

        transition: 0.5s;
    }

    .section--main_cards_title {
        font-size: 1.3rem;
        font-weight: 700;
        font-family: var(--font-montserrat);
        align-self: center;
        color: goldenrod;
    }
}

@media screen and (min-width:1170px) {



    .section-main {
        margin-left: 10%;
        grid-template-columns: repeat(3, 0.3fr);
    }

    .section-main_cards {
        display: flex;
        flex-direction: column;
        margin: 0 1rem 0 1rem;
        width: 250px;

    }

    .section--main_cards_image img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 15px 15px 15px 15px;
        cursor: pointer;
        transition: 0.5s;
    }

    .section--main_cards_image img:hover {
        opacity: 0.5;
        transition: 0.5s;
    }

    .section--main_cards_title {
        font-size: 1.3rem;
        font-weight: 700;
        font-family: var(--font-montserrat);
        align-self: center;
        color: goldenrod;
    }

    .section--main_cards_description {
        font-size: 0.6rem;
        padding-top: 5px;
        color: rgb(255, 255, 255);
    }

    .section--main_cards_price {
        font-size: 14px;
        /* Establece el tamaño del precio según tus preferencias */
        color: white;
        /* Establece el color del precio según tus preferencias */
        margin-top: 10px;
        /* Añade un margen superior al precio para separarlo del contenido anterior */
    }

    .logo {
        margin-left: 50px;
    }

    nav {
        height: 100px;
    }

    .bar-btn {
        display: none
    }

    .nav-menu {
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;

    }

    .nav-menu li {
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;

    }

    .nav-menu li a {
        font-size: 12px;

    }

    .banner-text h1 {

        font-size: 70px;
        margin-bottom: 30px;
    }

    .banner-text h2 {

        font-size: 20px;
    }

    .icon_footer img {

        width: 250px;
        height: 250px;
        object-fit: cover;
    }

}

/* SLIDER DE IMAGENS */
.slider {
    width: 85%;
    margin: auto;
    height: 85%;
    overflow: hidden;

}

.slider ul {
    padding: 0;
    display: flex;
    width: 400%;
    animation: slider 15s infinite alternate;

}

.slider li {
    width: 100%;
    list-style: none;

}

.slider li img {
    width: 100%;
    object-fit: cover;
}

@keyframes slider {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }

}